In [4]:
list (range(0,10,1))  # generate a list of number; not including 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
range(0,10,1) # generator function ;

range(0, 10, 2)

In [5]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [9]:
word="gaurav"
for key,value in enumerate(word): # enumerate function gives out the index and value in the form of a tuple for a list;
    print(str(key)+"|"+value)

0|g
1|a
2|u
3|r
4|a
5|v

In [15]:
list(enumerate(word))

[(0, 'g'), (1, 'a'), (2, 'u'), (3, 'r'), (4, 'a'), (5, 'v')]

In [17]:
# zip function does the opposite of enumerate where it makes tuple out of the many lists where each object is the index element of each list
mylist1 =[1,3,4,5,6]
mylist2 =["asdfs","f2342","sadfsd","fasdf"]
list(zip(mylist1,mylist2))

[(1, 'asdfs'), (3, 'f2342'), (4, 'sadfsd'), (5, 'fasdf')]

In [18]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'asdfs')
(3, 'f2342')
(4, 'sadfsd')
(5, 'fasdf')

In [20]:
"gau" in word

True

In [26]:
d = {"Key2":"lol1","Key1":"lol2"}
"Key1" in d.keys()

True

In [27]:
"lol2" in d.values()

True

In [29]:
mylist3 =[1,3,4,432563,4]
max(mylist3)

432563

In [30]:
min(mylist3)

1

In [33]:
from random import *
shuffle(mylist3) # in place shuffle, no return
mylist3

[4, 432563, 1, 3, 4]

In [39]:
randint(0,100)

39

In [40]:
result = input("hello, what is your name?")

hello, what is your name?gaurav

In [41]:
result

'gaurav'

#### List Comprehensions

In [2]:
# old way 
# mylist=[]
# for x in range(0,10):
#    mylist.append(x);  # this is used to make the list;

# list comprehension is [ (manuplate the value of x) for x in list (do conditional thing first before inserting it into the list) ]
# list comprehension is [ (manuplate the value of x)(do conditional thing for the element which has been allowed to be inserted into the list) for x in list (do conditional thing first before inserting it into the list) ]
# list comprehension is [ combined x and y operations for x in list for y in list ]

mylist = [x for x in range(0,10)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
myword="helloWorld"
mylist= [x for x in myword]

In [4]:
mylist

['h', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [6]:
mylist = [x**2 for x in range(0,10) if x%2==0]
mylist

[0, 4, 16, 36, 64]

In [11]:
mylist = [x*y for x in [1,2,3] for y in [1,100,1000] if x>1 if y>100]
mylist

[2000, 3000]